*{
       margin: 0;
       padding: 0;
}
html, body{
       height: 100%;
}
body {
       background: rgb(255, 191, 71);
       display: flex;
       justify-content: center;
       align-items: center;
}
.white-page{
       background: orange;
       position: absolute;
       border-radius: 20px;
       width: 40%;
       height: 650px;
       left: 5%;
       transform: translateY(-25px);
}
.content{
       display: flex;
       background: rgb(247, 181, 58);
       border-radius: 20px;
       width: 80%;
       height: 600px;
       position: relative;
}
.part{
       width: 50%;
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
}
form{
       width: 50%;
       display: flex;
       flex-direction: column;
       padding: 30px;
       border: 2px solid black;
       border-radius: 30px;
}
form h1{
       font-size: 2em;
       align-self: center;
}
.conection{
       margin-top: 10px;
       margin-bottom: 40px;
}
.inscription{
       margin-bottom: 30px;
}
form p{
       font-size: 1.5em;
       left: 0;
       margin-bottom: 10px;
}
form a{
       font-size: 20px;
       text-decoration: none;
       margin-bottom: 70px;
       color: black;
}
form input{
       height: 40px;
       border-top: transparent;
       border-left: transparent;
       border-right: transparent;
       background: transparent ;
       border-bottom: 2px solid black;
       /* border-radius: 40px; */
       font-size: 16px;
       padding: 0px 5px;
}
.input{
       margin-bottom: 30px;
}
.input-co{
       margin-bottom: 40px;
}
.exp{
       margin-bottom: 10px;
}
button{
       align-self: center;
       width: 70%;
       height: 50px;
       border-radius: 30px;
       border: 2px solid black;
       background: transparent;
}