*{
       margin: 0;
       padding: 0;
}
html, body{
       height: 100%;
}
body {
       background: rgb(255, 191, 71);
       display: flex;
       justify-content: center;
       align-items: center;
}
.B{
       position: absolute;
       width: 15%;
       align-self: center;  
       height: 50px;
       border-radius: 30px;
       color: white;
       border: transparent;
       transition: 1s;
}
.Blog{
       position: relative;
       width: 100%;
       height: 100%;
       border-radius: 30px;
       z-index: 1000;
       border: 2px solid black;
       background: transparent;
       cursor: pointer;
       transition: 1s;
}
.BLeft{
       left: 18%;
}
.BRight{
       right: 18%;
}
.hidden-btn{
       opacity: 0;
}
.hidden{
       opacity: 0;
       position: absolute;
       top: 0em;
}
.visible-button{
       opacity: 1;
       position: absolute;
       top: 45%;
}
.hidden-form{
       opacity: 0;
       position: absolute;
       top: -50em;
}
.visible-form{
       opacity: 1;
       position: relative;
       top: 0;
}
.content-page{
       background: orange;
       position: absolute;
       border-radius: 20px;
       width: 40%;
       height: 650px;
       top: -25px;
       transition: 1s;
}
.page-left{
       transform: translateX(13%);
}
.page-right{
       transform: translateX(138%);    
}
.content{
       color: white;
       display: flex;
       background: rgb(247, 181, 58);
       border-radius: 20px;
       width: 80%;
       height: 600px;
       position: relative;
}
.part{
       width: 50%;
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
}
form{
       width: 50%;
       display: flex;
       flex-direction: column;
       padding: 30px;
       border: 2px solid white;
       border-radius: 30px;
       transition: 1s;
}
form h1{
       font-size: 2em;
       align-self: center;
       color: black;
}
.conection{
       margin-top: 10px;
       margin-bottom: 40px;
}
.inscription{
       margin-bottom: 30px;
}
form p{
       font-size: 1.5em;
       left: 0;
       margin-bottom: 10px;
}
form a{
       font-size: 20px;
       text-decoration: none;
       margin-bottom: 70px;
       color: white;
}
form input{
       height: 40px;
       border-top: transparent;
       border-left: transparent;
       border-right: transparent;
       background: transparent ;
       border-bottom: 2px solid white;
       /* border-radius: 40px; */
       font-size: 16px;
       padding: 0px 5px;
       color: black;
       outline: transparent !important;
}
input::placeholder{
       color: black; 
}
.input{
       margin-bottom: 30px;
}
.input-co{
       margin-bottom: 40px;
}
.exp{
       margin-bottom: 10px;
}
.BForm{
       align-self: center;
       width: 70%;
       height: 50px;
       border-radius: 30px;
       color: white;
       border: 2px solid white;
       background: transparent;
       cursor: pointer;
}

.PASSE{
       background: red;
       height: 600px;
       width: 50px;
       display: flex;
       text-decoration: none;
       color: white;
       align-items: center;
}