*{
       margin: 0;
       padding: 0;
       cursor: default;
}
@font-face{
       font-family: "titre";
       src: url(../assets/fonts/old_london/OldLondon.ttf);
}
html, body{
       height: 100%;
}
body{
       display: flex;
       flex-direction: column;
       background: #e034e0;
}
header{
       background: black;
       color: white;
}
.head-content{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 20px 0px;
}
.logo{
       margin: 0px 30px;
}
.logo h1{
       font-size: 50px;
       font-family: "titre";
}
.nav{
       flex-grow: 1;
}
nav{
       float: right;
       padding: 0px 25px;
}
nav a{
       font-size: 25px;
       text-decoration: none;
       margin: 0px 15px;
       color: white;
       cursor: pointer;
       position: relative;
}
nav a::after{
       content: '';
       height: 2px;
       width: 100%;
       position: absolute;
       bottom: -15px;
       left: 0;
       background: white;
       opacity: 0;
       transition: 0.5s;
}
nav a:hover::after{
       bottom: -3px;
       opacity: 1;
}
.page{
       display: flex;
       justify-content: center;
       flex-grow: 1;
       padding-bottom: 50px;
       background: linear-gradient(#000, #050255, #e034e0); 
}
footer{
       background: transparent;
       width: 100%;
       height:150px;
       display: flex;
       justify-content: center;
       align-items: center;
       border-top: 2px solid white;
       border-top-right-radius: 20px;
       border-top-left-radius: 20px;
}
.foot-content{
       width: 90%;
       height: 90%;
       display: flex;
       justify-content: space-around;
       align-items: center;
}
.box{
       width: auto;
       height: auto;
       color: white;
}
.box p{
       margin: 5px;
       font-size: 20px;
}
.sep-foot{
       height: 70%;
       width: 1px;
       background: white;
}
.content{
       margin-top: 100px;
       height: auto;
       height: min-content;
       width: 50%;
       display: flex;
       flex-direction: column;
       border: 2px solid white;
       padding: 20px;
       border-radius: 20px;
}
.titre{
       font-size: 50px;
       color: white;
       margin-bottom:10px;
       text-transform: uppercase;
}
.info{
       padding-top: 10px;
       font-size: 20px;
       color: white;
       margin-bottom: 20px;
}
.btn{
       position: relative;
       height: 1px;
       height: 70px;
}
button{
       margin-top: 20px;
       font-size: 20px;
       padding: 10px;
       border-radius: 10px;
       width: 120px;
       cursor: pointer;
       position: absolute;
       right: 0;
       color: white;
       background: transparent;
       border: 1px solid white;
}
.vsb{
       visibility: hidden;  
       height: 0;
       top: -10000em;
       position: absolute;
}